.image{
    height:auto; background-size:cover; width:auto;
    background-image:url('https://timedotcom.files.wordpress.com/2017/08/pizzahutrewards-em-624200530.jpg');
    background-position:100% 100%;
  }