#searchbox {
    background: #d4e8ec;
    background: -moz-linear-gradient(top, #ffffff 0%, #d4e8ec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d4e8ec));
    background: -webkit-linear-gradient(top, #ffffff 0%,#d4e8ec 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#d4e8ec 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#d4e8ec 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#d4e8ec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4e8ec',GradientType=0 );
      
        border-radius: 35px;
        
        border-width: 1px;
        border-style: solid;
        border-color: #c4d9df #a4c3ca #83afb7;            
        width: 500px;
        height: 35px;
        padding: 10px;
        margin: 100px auto 50px;
        overflow: hidden; /* Clear floats */
        justify-items: center;
        align-items: center;
        display: grid;
        float:  none;
    }
    
    .head {
        border-radius: 35px;
        
        border-width: 1px;
        border-style: solid;
        border-color: #c4d9df #a4c3ca #83afb7;            
        width: 500px;
        height: 35px;
        padding: 10px;
        margin: 100px auto 50px;
        overflow: hidden; /* Clear floats */
        justify-items: center;
        align-items: center;
        display: grid;
        float:  none;
    }
    
    #search {
        padding: 5px 9px;
        height: 23px;
        width: 380px;
        border: 1px solid #a4c3ca;
        font: normal 13px 'trebuchet MS', arial, helvetica;
        background: #f1f1f1;
        
         border-radius: 50px 3px 3px 50px;
         box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 
                   0 1px 0 rgba(255, 255, 255, 1);            
    }
    
    /* ----------------------- */
    
    #submit {		
      background: #95d788;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#95d788), to(#6cbb6b));
    background: -webkit-linear-gradient(#95d788 0%, #6cbb6b 100%);
    background: -moz-linear-gradient(#95d788 0%, #6cbb6b 100%);
    background: -o-linear-gradient(#95d788 0%, #6cbb6b 100%);
    background: linear-gradient(#95d788 0%, #6cbb6b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95d788', endColorstr='#6cbb6b',GradientType=0 );
      
      border-radius: 3px 50px 50px 3px;
        
        border-width: 1px;
        border-style: solid;
        border-color: #7eba7c #578e57 #447d43;
        
         box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		
    
        height: 35px;
        margin: 0 0 0 10px;
      padding: 0;
        width: 90px;
        cursor: pointer;
        font: bold 14px Arial, Helvetica;
        color: #23441e;
        
        text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    }
    
    #submit:hover, #submit:focus {		
      background: #6cbb6b;
    background: -moz-linear-gradient(top, #6cbb6b 0%, #95d788 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6cbb6b), color-stop(100%,#95d788));
    background: -webkit-linear-gradient(top, #6cbb6b 0%,#95d788 100%);
    background: -o-linear-gradient(top, #6cbb6b 0%,#95d788 100%);
    background: -ms-linear-gradient(top, #6cbb6b 0%,#95d788 100%);
    background: linear-gradient(to bottom, #6cbb6b 0%,#95d788 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cbb6b', endColorstr='#95d788',GradientType=0 );
    
    }	
    
    #submit:active
    {		
        background: #95d788;
        outline: none;
       
         box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
    }
    
    #submit::-moz-focus-inner {
           border: 0;  /* Small centering fix for Firefox */
    }		
    
    
    #search::-webkit-input-placeholder {
       color: #9c9c9c;
       font-style: italic;
    }
    
    #search:-moz-placeholder {
       color: #9c9c9c;
       font-style: italic;
    }  
    
    #search:-ms-placeholder {
       color: #9c9c9c;
       font-style: italic;
    }   
    
    #search.placeholder {
       color: #9c9c9c !important;
       font-style: italic;
    }